[submodule "system"]
	path = system
	url = http://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/codebench"]
	path = modules/codebench
	url = git://github.com/kohana/codebench.git
[submodule "modules/image"]
	path = modules/image
	url = git://github.com/kohana/image.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/kohana/cache.git
[submodule "modules/dispatcher"]
	path = modules/dispatcher
	url = http://github.com/BRMatt/Kohana-Dispatcher.git
[submodule "modules/email"]
	path = modules/email
	url = http://github.com/banks/kohana-email.git
[submodule "modules/log"]
	path = modules/log
	url = git://github.com/lzyy/kohana-log.git
